# local package
-e .

# external requirements
click==8.1.7
Sphinx
coverage
flake8
python-dotenv==1.0.1
setuptools==69.2.0


# backwards compatibility
pathlib2


# project specific
numpy==1.26.4
pandas==2.2.1
plotly==5.20.0
nbformat>=4.2.0